:host {
  display: block;
  min-height: 100%;
}

.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-shell--product {
  margin-top: -84px;
}

.app-main {
  flex: 1;
}
